#pokemonCard {
	transition: all 0.2s ease-out;
	border-radius: 0.5rem;
	box-shadow: 0px 4px 8px rgba(73, 92, 136, 0.15);

	&:hover {
		transform: scale(1.1);
	}
}

.avatar {
	background-color: #1976d2 !important;
	font-weight: 500;
}

.css-o69gx8-MuiCardMedia-root {
	object-fit: contain !important;
	padding: 0rem;
}
